<p>fruta works!</p>
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-6">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>PRECIO</th>
            <th>UNIDADES</th>
            <th>IMAGEN</th>
            <th>ACCIONES</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let f of frutas">
            <td>{{f.id}}</td>
            <td>{{f.nombre}}</td>
            <td>{{f.precio}}</td>
            <td>{{f.unidades}}</td>
            <td><img src="{{f.imagen}}" alt=""></td>
            <td><button class="btn btn-info m-2" (click)="modificar()">Modificar</button></td>
            <td><button class="btn btn-info m-2" (click)="eliminar()">Eliminar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-6">
      <form #f="ngForm">
        <label>ID</label>
        <input type="text" name="name" [(ngModel)]="selectedProduct.name">
        <br>
        <label>Nombre</label>
        <input type="text" name="name" [(ngModel)]="selectedProduct.name">
        <br>
        <!-- Aquí deberías completar el input con su nombre -->
        <input type="text" name="nombre">
        <br>
        <input type="button" (click)="crearProducto(f)" value="Crear Productos">
      </form> <!-- Agregué la etiqueta de cierre para el formulario -->
    </div>
  </div>
</div> <!-- Cerré la etiqueta de cierre div que faltaba -->
