<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2>Componente 1</h2>
    </div>

    <div class="col-lg-12"><button #btn1 (click)="cambiarColorRojo(btn1, btn2, btn3, btn4)" class="btn btn-primary" >Botón 1</button></div>
    <div class="col-lg-12"><button #btn2 (click)="cambiarColorVerde(btn1, btn2, btn3, btn4)" class="btn btn-primary">Botón 2</button></div>
    <div class="col-lg-12"><button #btn3 (click)="cambiarColorAzul(btn1, btn2, btn3, btn4)" class="btn btn-primary">Botón 3</button></div>
    <div class="col-lg-12"><button #btn4 (click)="cambiarColorAmarillo(btn1, btn2, btn3, btn4)" class="btn btn-primary">Botón 4</button></div>
  </div>

</div>
