
body {
  background-color: rgb(141, 140, 140);
}

.imagenx {
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: table;
  background-attachment: fixed;
  background-size: cover;
}

h3 {
  background-color: #33373a;
  bottom: 0;
  color: white;
  display: block;
  font-size: 60px;
  font-weight: bold;
  margin-top: 500px;
  opacity: 0.5;
  text-align: center;
  text-shadow: 1px 1px 1px #666;
  text-transform: uppercase;
  width: 100%;
}

h2 {
  text-align: center;
}

h4 {
  text-align: justify;
}

.imagen1 {
  background-image: url("img/yosemite1.jpg");
}

.imagen2 {
  background-image: url("img/yosemite2.jpg");
}

.imagen3 {
  background-image: url("img/yosemite3.jpg");
}

.imagen4 {
  background-image: url("img/yosemite4.jpg");
}
.imagen5 {
  background-image: url("img/yosemite5.jpg");
}
.imagen6 {
  background-image: url("img/yosemite6.jpg");
}
.imagen9 {
  background-image: url("img/yosemite9.jpg");
}
