<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MENU</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/form1">Reactivo 1</a>
        <a class="nav-link" routerLink="/form2">Reactivo 2</a>
        <a class="nav-link" routerLink="/form3">Reactivo 3</a>
        <a class="nav-link" routerLink="/form4">Reactivo 4</a>
        <a class="nav-link" routerLink="/form5">Reactivo 5</a>
        <a class="nav-link" routerLink="/input1">Input 1</a>
      </div>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row mt-2 d-flex justify-content-center">
    <div class="col-auto">
      <router-outlet></router-outlet>
    </div>
</div>
</div>

