body
{
	background:#00bcd4;
}

h1
{
	color:#fff;
	margin:40px 0 60px 0;
	font-weight:300;
}

.equipo
{
	width:100%;
	height:auto;
	border:5px solid green;
	background:lightcoral;
	text-align:center;
	border-radius: 10px;
	overflow:hidden;
	position:relative;
	transition:0.5s;
	margin-bottom:28px;
}


.equipo img
{
	border-radius:50%;
	margin-bottom:20px;
	width: 90px;
}

.equipo h3
{
	font-size:20px;
	font-weight:700;
}

.equipo p
{
	margin-bottom:0;
}

.equipo_texto
{
	width:100%;
	height:auto;
	position:absolute;
	top:0;
	left:0;
	padding:5px 15px 0 15px;
	text-align:left;
	background:#fff;
	
}

.equipo_foto
{
	width:100%;
	height:auto;
	position:relative;
	z-index:10;
	background:#fff;
	padding:15px;
	bottom:0px;
	transition: all 0.5s ease;
}

.equipo:hover .equipo_foto
{
	bottom:-200px;
	transition: all 0.5s ease;
}

.equipo:hover
{
	border-color:#777;
	transition:0.5s;
}