*{box-sizing: border-box;}


#contenedor{
    height: 90vh;
    margin: 0 auto;
    font-size: 1.5em;
    width: 90%;
    
    border: 1px solid black;
    border-radius: 5%;

    padding: 10px;

    box-shadow: 10px 10px #888888;

    text-align: center;

}

video{
    width: 90%;
    height: 90vh;
}