<div class="container">
  <div class="d-flex justify-content-center">
    <div class="row">
      <div class="col-auto">
        <a class="btn btn-primary" routerLink="despliegue">Despliegue</a>
        <a class="btn btn-primary" routerLink="diw">DIW</a>
        <a class="btn btn-primary" routerLink="dwec">DWEC</a>
        <a class="btn btn-primary" routerLink="dwes">DWES</a>
      </div>
      <div class="col-auto">
        <router-outlet></router-outlet>
      </div>
    </div>

  </div>
</div>
