.contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
  }
  .card {
    max-width: 25vw;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  } 
  .card img {
    max-width: 100%;
    min-width: 20vw;
    min-height: 20vh;
  }
  .card .info {
    padding: 20px 10px
  }
   button {
    background: lightcoral;
    border: 2px solid lightskyblue;
   
    padding: 10px;
    width: 100%;
    }